* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

button {
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.add-to-cart-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  border: 1px solid #e664c1;
  border-radius: 20px;
  padding: 10px;
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;

  &:hover {
    background-color: #e664c1;
    color: #fff;
  }

  &:active {
    background-color: #a52cba;
  }
}
